.shop-container
{
    position: relative;
    width: 100%;
    background-color: transparent;
}

.products-container
{
    margin-left: 30rem;
    padding-top: 3rem;
    min-height: 61rem;
    background-color: transparent;
}

.products-card-grid
{
    width: 100%;
    display: grid;
    padding: 2rem 10rem 8rem 10rem;
    flex-grow: 1;
    gap: 2.4rem;
    grid-template-columns: repeat(auto-fit, 24rem);
    justify-items: center;
    justify-content: space-evenly;
}
